// .health-bar-container {
//     width: 300px;
//     margin: 20px auto;
// }
  
// .bar {
//     width: 100%;
//     height: 30px;
//     background-color: #ddd;
//     margin-bottom: 10px;
//     position: relative;
//     cursor: pointer;
// }
  
// .health {
//     height: 100%;
//     background-color: #4caf50;
// }
  
// .damage-bar .damage {
//     height: 100%;
//     background-color: #f44336;
// }
  
// .healing-bar .healing {
//     height: 100%;
//     background-color: #2196f3;
// }
  
// .stats {
//     text-align: center;
// }

.noUi-target {
    background-color: #f0f0f0;
    border-radius: 4px;
    padding: 10px;
  }
  
  .noUi-connect {
    background: #007bff; /* Connect bar color */
  }
  
  .noUi-handle {
    background: #ffffff; /* Handle color */
    border: 2px solid #007bff; /* Handle border color */
    height: 20px;
    width: 20px;
    border-radius: 50%;
  }

  .e-combatant-container{
    height: 100%;
  }

  .e-combatant-sections-container{
    height: 100%;
  }

  .e-combatant-title-conditions{
    // background-color: blue;
    height: 100%;
    flex: 1;
  }

  .e-combatant-conditions{
    height: 100%;
    flex: 1;
    margin-right: 10px;
    cursor: pointer;
  }

  .conditions-index, .conditions-container{
    font-family: 'Taroca', sans-serif;
  }

  .conditions-index {
    input[type=number]{
      width: 30px;
      border: 1px solid black;
    }
  }

  .conditions-tooltip {
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 3px;
    z-index: 1000;
  }