.monster-stat-block {
    font-family: 'FF Good Pro Cond';
    font-weight: 500;
    padding: 20px;
    max-width: 600px;
    margin: auto;
    background-color: white;
    color: black;
    label {
      font-weight: 700;
      // padding-right: .25rem;
    }
    li {
      padding-right: .25rem;
      // padding-top: 5px;
    }
    img{
      width: 15px;
    }
  }
  
  .monster-name-line {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid;
  }
  .misc-stats, .defense{
    border-bottom: 1px solid;
  }

  .adjustment-container, .perception, .knowledge, .languages, .skills, .items, .defense-top-line li, .defense-second-line div, .immunities, .resistances, .weaknesses, .speed{
    display: flex;
    gap: 5px;
  }
  .abilities-list div{
    display: flex;
    gap: 2px;
  }
  
  .perception, .languages, .skills, .abilities-list, .traits, .special, .resistances, .defense-top-line, .weaknesses, .offense, .defense-second-line{
    display: flex;
    padding-top:5px;
  }
  .languages-list, .immunities-list, .resistances-list, .weaknesses-list, .melee-list{
    display: flex;
  }

  .traits-size, .traits-misc{
    color: white;
    background-color: green;
    font-weight: 700;
    padding: 5px;
    border: 2px solid rgb(196, 182, 101);
  }

  .traits-misc{
    background-color: #3d0202;
  }
  
 .items{
  display: flex;
  
 }
.items-list{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 5px;
  label{
    white-space:nowrap;
  }

  li{
    display: flex;
    padding-top: 5px;
  }
}

.item-desc{
  display: flex;
  padding-right: 5px;
}

.immunities-list, .speeds-list{
  padding-left: 5px;
}
.abilities-list div{
  padding-right: 5px;
}

.melee-list{
  flex-direction: column;
}  
.melee-item, .action-item{
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.action-item-notes{
  padding-left: 10px;
  display: block;
  // white-space: nowrap;
}
.notes, .action-item{
  padding-top: 5px;
}
.notes p{
  padding-left: 5px;
}
