

.precombat-rating-container{
    display: flex;
    justify-content: space-between;
}

.precombat-rating-apl, .precombat-rating-cr, .precombat-rating-xp{
    display: flex;
    // flex: 1;
    align-items: center;
}

.precombat-rating-apl input[type=text]{
    width: 50px !important;
}

.precombat-rating-cr, .precombat-rating-xp{
    gap: 5px;
}

.precombat-warning{
    color: red;
    padding-bottom: 5px;
}

.precombat-subheader-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.precombat-subheader-buttons{
    display: flex;
    gap: 10px;
}

.precombat-combatant-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.precombat-combatant-name{
    display: flex;
    flex-direction: column;
}
.precombat-combatant-name-inner{
    display: flex;
    align-items: center;
    height: 100%;
    p{
        
        width: 150px;
        padding-right: 5px;
        // white-space: normal; 
        // overflow-wrap: break-word;
        cursor: pointer;
        font-size: clamp(.5rem, 1rem, 1.5rem)
    }
}
.precombat-combatant-cr{

}

.precombat-combatant{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    border-bottom: 1px dashed black;
    input[type=text]{
        width: 200px !important;
    }
}

.precombat-combatant-initiative{
    display: flex;
    flex-direction: column;
    label{
        font-size: .75rem;
        position: relative;
        left: -10px;
    }
}
.precombat-combatant-add-buttons{
    display: flex;
    justify-content: center;
    padding: 10px;
    gap: 10px;
}

.precombat-combatant-special-buttons{
    display: flex;
    justify-content: center;
}

.precombat-combatant-stats{
    display: flex;
    gap: 5px;
    align-items: center;
    flex-wrap: wrap;
}

.library-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}

.libary-buttons{
    display: flex;
    gap: 10px;
    padding: 10px;
}

.library-index{

}

.library-index-item{
    display: flex;
    // justify-content: center;
    align-items: center;
}

.combatant-setup-modal{
    label{
        font-size: .75rem;
    }
    input[type=number]{
        width: 40px;
        margin-right: '10px';
    }

}